{% extends "base.html" %}

{% block title %}{{ author.name }} | {% endblock %}

{% block page_title %}{{ author.name }}{% endblock %}


{% block content %}

<ol class="userStories">
{% if author %}
{% for category in categories %}
<h1>{{ category.name }}</h1>
{% for story in category.stories %}
<li>
<a href="/{{ story.key.name|title }}">{{ story.title|escape|title }}</a>
<br />
(<a href="/Edit/{{ story.key.name|title }}">edit</a>)
</li>
{% endfor %}
{% endfor %}
{% else %}
<p><a href="/Share">Write a story!</a></p>
{% endif %}
</ol>

{% endblock content %}
