{% extends "base.html" %}

{% block title %}
{% if not errors %}
{{ author.name }}
{% else %}
No author
{% endif %} | 
{% endblock %}

{% block page_title %}
{% if not errors %}
{{ author.name }}
  {% ifequal author.key.name user.user_id %}
<div class="page_title_action"><a href="/EditAuthor">[change your name]</a></div>
  {% endifequal %}
{% else %}
Author is none.
{% endif %}
{% endblock %}

{% block content %}
{% spaceless %}

<ul class="story_list">
  {% if author %}
    {% for category in categories %}
      {% if category.name %}
      <h2>
        <a class="category_name" href="/Author/{{ author.key.name }}/Category/{{ category.slug|title }}">{{ category.name|title }}</a>
        {% ifequal author.key.name user.user_id %}<a class="action" href="/DeleteCategory/{{ user.user_id }}/{{ category.slug|title }}">[delete]</a>
        {% endifequal %}
      </h2>  
      {% endif %}

      {% for story in category.stories %}
      <li>
        <a class="story_title" href="/{{ story.key.name|title }}">{{ story.title|title }}</a>
        {% ifequal author.key.name user.user_id %}
        <a class="action" href="/Edit/{{ story.key.name|title }}">[edit]</a> <a class="action" href="/Delete/{{ story.key.name|title }}">[delete]</a>
        {% endifequal %}
      </li>
      {% endfor %}
    {% endfor %}
  {% else %}
    {% if not errors %}
    <p><a href="/Share">Write a story!</a></p>
    {% endif %}
  {% endif %}
</ul>

{% endspaceless %}
{% endblock content %}
