<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	  "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>{% block title %}{% endblock %}Storylog</title>
    <link href="/favicon.ico" type="image/ico" rel="shortcut icon"/>

    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if lt IE 8]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->

  </head>

  <body>

    <div class="container">
      <div class="header">

	    <h2>{% block header_title %}<a class="header_title" href="/">RETURN TO STORYLOG</a>{% endblock %}
	      <ul class="nav">
	        <li><a href="/">reload</a></li>
            {% if user %}
	        <li><a href="/You">you</a></li>
	        <li><a href="/Write">share</a></li>
            {% endif %}
	        <li><a href="{{ url }}">{{ url_linktext }}</a></li>
	      </ul>
	    </h2>

        {% if errors %}
        <ul class="error_box">
          {% for error in errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

	    <h1>
          {% block page_title %}EMPTY PAGE TITLE{% endblock %}
        </h1>
        {% block story_actions %}{% endblock %}

      </div>
      
      <div class="content">
        {% block content %}
        EMPTY CONTENT BLOCK
        {% endblock %}
      </div>

      <div class="footer">
        <p>&copy; Storylog | <a href="/About">About &amp; FAQ</a></p>
      </div>

    </div>
  
  </body>

</html>
