{% extends "base.html" %}

{% block header_title %}TRUE STORIES AT STORYLOG{% endblock %}

{% block page_title %}
<a href="/{{ story.key.name|title }}">
  {{ story.title|title }}
  <div class="page_title_action">| permalink</div>
</a>
{% endblock %}

{% block story_actions %}
{% if user %}
{% if not story.belongs_to_current_user %}
<div class="story_actions">
  <form method="post" action="/Favorite">
    <input type="hidden" name="story" value="{{ story.key }}" />
    {% if story.favorited_by_current_user %}
    <input type="submit" name="action" value="[ unfavorite ]">
    {% else %}
    <input type="submit" name="action" value="[ favorite ]">
    {% endif %}
    <input type="submit" name="action" value="[ report ]">
  </form>
</div>
{% endif %}
{% endif %}
{% endblock %}


{% block content %}
{{ story.content|linebreaks }}
<p class="author"><a href="/Author/{{ story.author.key.name }}">{{ story.author.name }}</a></p>
{% endblock %}
