{% extends "base.html" %}

{% block title %}EMPTY FORM TITLE{% endblock %}

{% block page_title %}EMPTY FORM PAGE TITLE{% endblock %}

{% block content %}
    <form class="story_form" action="{% block form_action %}/error{% endblock %}" method="post">
      {% block hidden_story_key %}{% endblock %}
      <label for="story_form_title">Story Title: </label>
      <input class="title" type="text" id="story_form_title" name="title" maxlength="100" value="{{ title }}" />
      <div class="form_note">no html tags please</div>
      <label for="story_form_content">Story Text: </label>
      <textarea class="text" name="content" id="story_form_content">{{ content }}</textarea>
      <div class="form_note">not required</div>
      <label for="story_form_category">Category: </label>
      <input class="title" type="text" id="story_form_category" name="category_name" maxlength="100" value="{{ category_name }}" />
      <input type="submit" value="{% block input_button %}EMPTY BUTTON{% endblock %}">
    </form>
{% endblock content %}
 
