{% extends "human.html" %}

{% block head_title %}
{% for collection in collections %}
{{ collection.title }} - 
{% endfor %}
{{ nickname }} |
{% endblock %}

{% block main_nav %}<a href="{{ human.url }}">RETURN TO AUTHOR PAGE</a>{% endblock %}

{% block page_title %}
{% for collection in collections %}
{{ collection.title }}
{% endfor %}
{% endblock %}

{% block page_helper %}
{% endblock %}
{% block page_actions %}
{% endblock %}

{% block content %}
{% if collections %}
{% for collection in collections %}
  <div class="story_group">
    <ul>
      {% for story_slug in collection.stories %}
      <li>
        <a href="/{{ story_slug }}" class="story_title" title="View Story: {{ story_slug|title_from_slug }}">{{ story_slug|title_from_slug }}</a>
        {% if human and human.belongs_to_current_user %}
        | <a href="/Edit/{{ story_slug }}" class="action" title="Edit Story: {{ story_slug|title_from_slug }}">edit</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>    
  </div>
{% endfor %}
{% endif %}
{% endblock %}