{% extends "base.html" %}

{% block head_title %}
Newest Stories | 
{% endblock %}

{% block page_title %}
Newest Stories
{% endblock %}

{% block content %}
{% if stories %}
{% for story in stories %}
<div class="story_group">
  <h2><a href="{{ story.url }}" class="story_title" title="View Story: {{ story.title|title }}">{{ story.title|title }}</a></h2>
  <ul>
    <li>
      {{ story.content|truncatewords:"20" }}
    </li>
  </ul>
</div>
{% endfor %}

<div class="paginate">
{% if next_page %}
<div class="next">
<a href="/Stories/Newest?page={{ next_page }}" class="action" title="Next Page">Next Page</a>
</div>
{% endif %}
{% if prev_page %}
<div class="prev">
<a href="/Stories/Newest?page={{ prev_page }}" class="action" title="Previous Page">Previous Page</a>
</div>
{% endif %}
</div>

{% endif %}
{% endblock %}