{% extends "base.html" %}

{% block head_title %}{% if slug %}Edit Story |{% else %}New Story | {% endif %}{% endblock %}

{% block page_title %}{% if access %}{% if slug %}Editing: {{ title|title }}{% else %}New Story{% endif %}{% endif %}{% endblock %}

{% block content %}
{% if access %}
<form class="story_form" action="" method="post">
  <input type="hidden" name="slug" value="{% if slug %}{{ slug }}{% endif %}" />
  {% if not slug %}
    <div class="form_note">can't change a story's title later</div>
    <label for="story_title">Title: </label>
    <input class="title" id="story_title" name="title" maxlength="35" value="{{ title }}" />
  {% else %}
    <input type="hidden" name="title" value="{{ title }}" />
  {% endif %}
  <div class="form_note"></div>
  <label for="story_content">Content: </label>
  <textarea class="text" name="content" id="story_content">{{ content }}</textarea>
  {% if slug %}
  <input type="submit" name="action" value="Save Story" />
  <input type="submit" name="action" value="Delete" onclick="return confirm('Are you sure you wish to delete this collection?')" />
  {% else %}
  <input type="submit" value="Submit" />
  {% endif %}
</form>
{% endif %}
{% endblock content %}

