{% extends "base.html" %}

{% block title %}
{% if nickname %}{{ nickname }}{% else %}No author{% endif %} | 
{% endblock %}

{% block page_title %}
{% if nickname %}{{ nickname }}{% else %}No author{% endif %}
{% endblock %}

{% block page_helper %}
{% if human and human.belongs_to_current_user %}
<a class="action" href="/You/EditName">edit name</a>
{% endif %}
{% endblock %}

{% block page_actions %}
{% if human and human.belongs_to_current_user %}
<a class="action" href="/You/Organize">organize stories</a>
{% endif %}
{% endblock %}

{% block content %}
<div class="content_text">
{% if collections %}
{% for collection in collections %}
  {% if not collection.title or collections|length_is:"1" %}
  {# collection with no title is main collection; display all stories #}
  <div class="story_group">
    <ul>
      {% for story_slug in collection.stories %}
      <li>
        <a href="/{{ story_slug|title }}" class="story_title">{{ story_slug|title_from_slug }}</a>
        {% if human and human.belongs_to_current_user %}
        | <a href="/Write?story={{ story_slug|title }}" class="action" >edit</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% else %}{# display five stories for collections other than main #}
  <div class="story_group">   
    <div class="collection_header">
      <h2><a href="{{ collection.url }}" class="collection_title">{{ collection.title|title }}</a></h2>
      {% if human and human.belongs_to_current_user %}
      | <a href="/Edit?collection={{ collection.key.name }}" class="action">edit</a>
      {% endif %}
      | <a href="{{ collection.url }}" class="action">view</a>
    </div>
    <ul>
      {% for story_slug in collection.stories|slice:":5" %}
      <li>
        <a href="/{{ story_slug|title }}" class="story_title">{{ story_slug|title_from_slug }}</a>
        {% if human and human.belongs_to_current_user %}
        | <a href="/Write?story={{ story_slug|title }}" class="action">edit</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}{# end of if not collection.title #}
{% endfor %}{# end of for collection #}
  {% if favorite_stories or favorite_collections %}
  <hr />
  {% endif %}
{% endif %}{# end of if collections #}
{# FAVORITES #}
{% if favorite_stories %}
{% for story_slug in favorite_stories %}
<div class="story_group">   
  <div class="favorites_header">
    <h2><a href="/You/FavoriteStories" class="favorites_title">Favorite Stories</a></h2>
    | <a href="/You/FavoriteStories">view</a>
  </div>
  <ul>
    {% for story_slug in favorite_stories|slice:":5" %}
    <li>
      <a href="/{{ story_slug|title }}">{{ story_slug|title_from_slug }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endfor %}
{% endif %}

{% if favorite_collections %}
{% for story_slug in favorite_collections %}
<div class="story_group">   
  <div class="favorites_header">
    <h2><a href="/You/FavoriteCollections" class="favorites_title">Favorite Collections</a></h2>
    | <a href="/You/FavoriteStories">view</a>
  </div>
  <ul>
    {% for story_slug in favorite_collections|slice:":5" %}
    <li>
      <a href="/{{ story_slug|title }}">{{ story_slug|title_from_slug }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endfor %}
{% endif %}

</div>{# end of div content_text #}
{% endblock content %}