{% extends "base.html" %}

{% block head_title %}
{{ nickname }} | 
{% endblock %}

{% block page_title %}
{{ nickname }}
{% endblock %}

{% block page_helper %}
{% if human and human.belongs_to_current_user %}
<a class="action" href="/You/EditName" title="Edit Your Nickname">edit name</a>
{% endif %}
{% endblock %}

{% block page_actions %}
{% if human and human.belongs_to_current_user %}
<a class="action organize_link" href="/You/Organize" title="Organize Stories into Collections">organize stories</a>
{% endif %}
{% endblock %}

{% block content %}
{% if collections %}
{% for collection in collections %}
  <div class="story_group">
    {% ifnotequal collection.key.name "main-collection" %}
    <div class="collection_header">
      <h2><a href="{{ collection.url }}" class="collection_title" title="View Collection">{{ collection.title }}</a></h2>
      {% if human and human.belongs_to_current_user %}
      | <a href="/EditCollection/{{ collection.key.name }}" class="action"title="Edit Collection Title">edit</a>
      {% endif %}
      | <a href="{{ collection.url }}" class="action" title="View Collection">view</a>
    </div>
    {% endifnotequal %}
    <ul>
      {% for story_slug in collection.profile_stories %}
      <li>
        <a href="/{{ story_slug }}" class="story_title" title="View Story: {{ story_slug|title_from_slug }}">{{ story_slug|title_from_slug }}</a>
        {% if human and human.belongs_to_current_user %}
        | <a href="/Edit/{{ story_slug }}" class="action" title="Edit Story: {{ story_slug|title_from_slug }}">edit</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>    
  </div>
{% endfor %}{# end for collection #}
  {% if favorite_stories or favorite_collections %}
  <div class="divider"></div>
  {% endif %}
{% endif %}{# end if collections #}
{# FAVORITES #}
{% if favorite_stories %}
<div class="story_group">   
  <div class="favorites_header">
    <h2><a href="/Author/{{ user_id }}/Favorites" class="favorites_title" title="View Favorites">Favorite Stories</a></h2>
    | <a href="/Author/{{ user_id }}/Favorites" class="action" title="View Favorites">view</a>
  </div>
  <ul>
    {% for story in favorite_stories %}
    <li>
      <a href="{{ story.url }}" class="story_title" title="View Story: {{ story.title }}">{{ story.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% endblock content %}