{% extends "base.html" %}

{% block main_nav %}TRUE STORIES AT STORYLOG{% endblock %}

{% block page_title %}
{{ story.title|title }}
{% endblock %}

{% block page_helper %}
<a href="{{ story.url }}" class="action">link</a>
{% if user and story %}
  {% if not story.favorited_by_current_user %}
  | <a href="/Favorite/{{ story.key.name|title }}" class="action">save</a>
  {% else %}
  | <a href="/Favorite/{{ story.key.name|title }}" class="action">unsave</a>
  {% endif %}
{% endif %}
{% endblock %}

{% block page_actions %}{% endblock %}

{% block content %}
{{ story.content|linebreaks }}
<h2 class="content_author">
  {% if not story.belongs_to_current_user %}
  <a href="{{ story.author_url }}">{{ story.author_name }}</a>
  {% else %}
  <a href="/You">{{ story.author_name }}</a>
  {% endif %}
</h2>
{% endblock %}