{% extends "base.html" %}

{% block header_title %}TRUE STORIES AT STORYLOG{% endblock %}

{% block page_title %}
<a href="{{ story.url }}">
{{ story.title|title }}
<div class="page_title_action">| permalink</div>
</a>
{% endblock %}

{% if not errors %}
{% block story_actions %}
{% if user %}
{% if not story.belongs_to_current_user %}
<div class="story_actions">
  {% if not story.favorited_by_current_user %}
  <a href="#">[ favorite ]</a>
  {% else %}
  <a href="#">[ unfavorite ]</a>
  {% endif %}
</div>
{% endif %}
{% endif %}
{% endblock %}


{% block content %}
{{ story.content|linebreaks }}
<p class="author"><a href="{{ story.author_url }}">{{ story.author_name }}</a></p>
{% endblock %}
{% endif %}
