{% extends "base.html" %}

{% block main_nav %}TRUE STORIES AT STORYLOG{% endblock %}

{% block page_title %}
{{ story.title }}
{% endblock %}

{% block page_helper %}
{% if story %}
<a href="{{ story.url }}" class="action" title="Link to {{ story.title }}">link</a>
{% if user %}
  {% if admin %}
  | <a href="/Flag/{{ story.key.name|title }}" class="action" title="Flag story as spam">flag</a>
  {% endif %}
  {% if not story.belongs_to_current_user %}
  {% if not story.favorited_by_current_user %}
  | <a href="/Favorite/{{ story.key.name|title }}" class="action" title="Save to favorites">save</a>
  {% else %}
  | <a href="/Favorite/{{ story.key.name|title }}" class="action" title="Remove from favorites">unsave</a>
  {% endif %}
  {% endif %}
{% endif %}
{% endif %}
{% endblock %}

{% block page_actions %}{% endblock %}

{% block content %}
{{ story.content|linebreaks }}
<h2 class="content_author">
  {% if not story.belongs_to_current_user %}
  <a href="{{ story.author_url }}">{{ story.author_name }}</a>
  {% else %}
  <a href="/You">{{ story.author_name }}</a>
  {% endif %}
</h2>
{% endblock %}