{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="/js/jquery.js"></script> 
<script type="text/javascript" src="/js/ui.core.js"></script> 
<script type="text/javascript" src="/js/ui.sortable.js"></script> 
<script type="text/javascript">
    $(document).ready(function(){
        $("#new_collection").css({'min-height': $("#collections_container").height()-47 });        

        {% for collection in collections %}
        $("#{{ collection.key.name }}").sortable({
            connectWith: '.collection',
            placeholder: 'sort_placeholder',
        });
        {% endfor %}
        $("#new_collection").sortable({
            connectWith: '.collection',
            placeholder: 'sort_placeholder',
            update: function() {
                $("#new_collection_container ul").css("background","#ffffff");
                if ($("#new_collection_container h3").text() == "New Collection") { $("#new_collection_container h3").html("<input id='new_title' maxlength='33' value='Collection Title' />") };
                $("#new_title").focus(function() {
                    if( this.value == this.defaultValue ) {
                        this.value = "";
                    }
                }).blur(function() {
                    if( !this.value.length ) {
                        this.value = this.defaultValue;
                    }
                });
            }
        });
        
        $(".collection").disableSelection();

        $("#collection_form").submit(function() {
            {% for collection in collections %}
            $("#{{ collection.key.name }}_input").val( $("#{{ collection.key.name }}").sortable('toArray') );
            {% endfor %}
            $("#new_collection_input").val( $("#new_collection").sortable('toArray') );
            $("#new_title_input").val( $("#new_title").val() );
        });

        $(".collection li").mousedown(function() {
            $(this).addClass("grabbed");
        }).mouseup(function() {
            $(this).removeClass("grabbed");
        });
        
    });
</script> 
{% endblock head %}

{% block title %}
Organize Collections | 
{% endblock %}

{% block header_title %}<a class="header_title" href="/You">RETURN TO PROFILE</a>{% endblock %}

{% block page_title %}
Organize Collections
{% endblock %}

{% block content %}
{% if human %}
<div id="collections_container">
  {% for collection in collections %}
  <h3>{{ collection.title }}</h3>
  <ul id="{{ collection.key.name }}" class="collection">
    {% for story_slug in collection.stories %}
    <li id="{{ story_slug }}">{{ story_slug|title_from_slug }}</li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
<div id="new_collection_container">
  <h3>New Collection</h3>
  <ul id="new_collection" class="collection">
  </ul>
</div>

<div id="collection_form_container">
  <form action="/You/Organize" id="collection_form" method="post">
    {% for collection in collections %}
    <input type="hidden" name="{{ collection.key.name }}_input" id="{{ collection.key.name }}_input" />
    {% endfor %}
    <input type="hidden" name="new_title_input" id="new_title_input" />
    <input type="hidden" name="new_collection_input" id="new_collection_input" />
    <input type="submit" value="Save Collections" />
  </form>
</div>
{% endif %}
{% endblock content %}
