{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script> 
<script type="text/javascript" src="/js/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#new_collection").css({'min-height': $("#left_column").height()-55 });        

        {% for col in collections %}
        $("#{{ col.key.name }}_collection").sortable({
            connectWith: '.collection',
            placeholder: 'sort_placeholder',
        });
        {% endfor %}
        $("#new_collection").sortable({
            connectWith: '.collection',
            placeholder: 'sort_placeholder',
            update: function() {
                if ($("#right_column h3").text() == "New Collection") { 
                    $("#right_column ul").css("background","#ffffff");
                    $("#right_column h3").html("<input id='new_collection_title' maxlength='25' value='Collection Title' />");
                    $("#new_collection_title").focus(function() {
                        if( this.value == this.defaultValue ) {
                            this.value = "";
                        }
                    }).blur(function() {
                        if( !this.value.length ) {
                            this.value = this.defaultValue;
                        }
                    });
                }
            }
        });
        
        $(".collection").disableSelection();

        $("#organize_form").submit(function() {
            {% for col in collections %}
            $("#{{ col.key.name }}").val( 
                $("#{{ col.key.name }}_collection").sortable('toArray') 
            );
            {% endfor %}
            $("#new").val( 
                $("#new_collection").sortable('toArray') 
            );
            $("#new_title").val( 
                $("#new_collection_title").val() 
            );
        });

        $(".collection li").mousedown(function() {
            $(this).addClass("grabbed");
        }).mouseup(function() {
            $(this).removeClass("grabbed");
        });
        
    });
</script> 
{% endblock head %}

{% block title %}
Organize Collections | 
{% endblock %}

{% block main_nav %}<a href="/You">RETURN TO PROFILE</a>{% endblock %}

{% block page_title %}
Organize Collections
{% endblock %}

{% block content %}
{% if human %}
<div id="left_column">
  {% for col in collections %}
  <h3>{{ col.title }}</h3>
  <ul id="{{ col.key.name }}_collection" class="collection">
    {% for story_slug in col.stories %}
    <li id="{{ story_slug }}">{{ story_slug|title_from_slug }}</li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
<div id="right_column">
  <h3>New Collection</h3>
  <ul id="new_collection" class="collection">
  </ul>
</div>

<form action="/You/Organize" id="organize_form" method="post">
  {% for col in collections %}
  <input type="hidden" name="{{ col.key.name }}" id="{{ col.key.name }}" />
  {% endfor %}
  <input type="hidden" name="new_title" id="new_title" />
  <input type="hidden" name="new" id="new" />
  <input type="submit" value="Save Collections" />
</form>
{% endif %}
{% endblock content %}
