html, body { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

blockquote, q { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; quotes: "" ""; }
blockquote:before, q:before, blockquote:after, q:after { content: ""; }

th, td, caption { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-align: left; font-weight: normal; vertical-align: middle; }

table { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; border-collapse: separate; border-spacing: 0; vertical-align: middle; }

a img { border: none; }

body { line-height: 1.5; font-family: Helvetica Neue, Arial, Helvetica, sans-serif; color: #333333; font-size: 112.5%; }
body .showgrid { background: url('/images/grid.png?1250734433'); }
body .error { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
body .error a { color: #8a1f11; }
body .notice { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fff6bf; color: #514721; border-color: #ffd324; }
body .notice a { color: #514721; }
body .success { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #e6efc2; color: #264409; border-color: #c6d880; }
body .success a { color: #264409; }
body .hide { display: none; }
body .highlight { background: yellow; }
body .added { background: #006600; color: white; }
body .removed { background: #990000; color: white; }

form label { font-weight: bold; }
form fieldset { padding: 1.4em; margin: 0 0 1.5em 0; }
form legend { font-weight: bold; font-size: 1.2em; }
form input.text, form input.title, form input[type=text] { margin: 0.5em 0; background-color: #fff; padding: 5px; }
form input.title { font-size: 1.5em; }
form input[type=checkbox], form input.checkbox, form input[type=radio], form input.radio { position: relative; top: 0.25em; }
form textarea { margin: 0.5em 0; padding: 5px; }
form select { margin: 0.5em 0; }
form input.text, form input.title { width: 480px; }
form textarea { width: 480px; height: 400px; }
form fieldset { border: 1px solid #cccccc; }
form input.text, form input.title, form textarea, form select { border: 1px solid #bbbbbb; }
form input.text:focus, form input.title:focus, form textarea:focus, form select:focus { border: 1px solid #666666; }

html { height: 101%; }

body { font-family: "Times New Roman",Times,serif; line-height: 1.4em; font-size: 112.5%; background: url(../images/bg.gif) repeat-y center top; }
body ul { list-style-type: none; list-style-position: inside; }
body a { color: #666; }
body a:hover { color: #222; }
body a.action { text-decoration: none; font-size: 90%; }
body a.action:hover { color: #930; }

.container { width: 510px; margin: 0 auto; overflow: hidden; display: inline-block; text-align: left; }
.container { display: block; }

.nav, .header, .content, .footer { display: inline; float: left; margin-right: 0; width: 510px; }
* html .nav, * html .header, * html .content, * html .footer { overflow-x: hidden; }

.nav { font-family: Georgia,"Times New Roman",Times,serif; color: #888; font-size: 65%; text-transform: uppercase; border-bottom: 1px dotted #888; margin-bottom: 1.5em; }
.nav .main_nav { float: left; }
.nav .nav_links { margin: 0; padding: 0; border: 0; outline: 0; overflow: hidden; display: inline-block; float: right; }
.nav .nav_links { display: block; }
.nav .nav_links li { list-style-type: none; margin-left: 0px; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; }
.nav .nav_links li.first { padding-left: 0px; }
.nav .nav_links li.last { padding-right: 0px; }

.header { position: relative; padding-bottom: 1.5em; }
.header .errors { padding: 10px 10px 10px 30px; background-color: #fff; margin-bottom: 1em; border: 1px solid #ccc; color: #930; list-style-type: disc; list-style-position: outside; }
.header .page_helper { color: #bbb; float: right; padding: .25em 8px 0 0; }
.header .page_helper a { text-decoration: none; }
.header .page_helper a:hover { color: #930; }
.header .page_title { font-size: 120%; font-weight: bold; padding-left: 5px; line-height: 1.4em; }
.header .page_header { border-bottom: 1px solid #222; }
.header #page_actions { display: none; position: absolute; bottom: 0; right: 0; font-size: 90%; padding-right: 8px; }

.content { margin-bottom: 1.5em; }
.content .content_text { padding-left: 5px; }
.content .content_text p { margin-bottom: 1em; }
.content .content_text .divider { height: 1px; background-color: #ccc; margin: 3em 0 2em 0; }
.content .content_author { text-align: right; margin-right: 2em; }
.content .story_group { margin-bottom: 10px; color: #bbb; }
.content .story_group h2 { display: inline; }
.content .story_group li { margin-left: 1em; }
.content .story_group li a.story_title { color: #222; }
.content .story_group li a.story_title:hover { color: #444; }
.content .story_group .collection_header h2 a { color: #930; }
.content .story_group .collection_header h2 a:hover { color: #900; }
.content .story_group .favorites_header h2 a { color: #040; }
.content .story_group .favorites_header h2 a:hover { color: #060; }
.content .story_form .title { font-family: Georgia; }
.content .story_form .form_note { float: right; font-size: 90%; padding-right: 30px; color: #666; }
.content .story_form textarea { margin-bottom: 1.5em; }
.content #left_column { display: inline; float: left; margin-right: 10px; width: 230px; margin-right: 40px; }
* html .content #left_column { overflow-x: hidden; }
.content #left_column h3 { font-weight: bold; height: 1.7em; }
.content #right_column { display: inline; float: left; margin-right: 0; width: 230px; }
* html .content #right_column { overflow-x: hidden; }
.content #right_column h3 { font-weight: bold; height: 1.7em; }
.content #right_column h3 input { font: 1em Georgia; color: #900; }
.content #right_column #new_collection { background: white url(../images/draghere.png) no-repeat center center; }
.content .collection { margin: 0.25em 0 1em .5em; min-height: 1.5em; line-height: 1.5em; border: 1px solid gray; background-color: gray; }
.content .collection .sort_placeholder { background-color: #CDE7CD; }
.content .collection li { color: #222; padding-left: .4em; height: 1.5em; overflow: hidden; white-space: nowrap; background-color: #F2F2E1; margin: 0 1px 1px 0; }
.content .collection li:hover { background-color: #C99; cursor: url(../images/grab.cur), default; }
.content .collection li.grabbed { cursor: url(../images/grabbing.cur), default; }
.content #organize_form { clear: both; padding-top: 2em; text-align: center; }

.footer { text-transform: uppercase; border-top: 1px dotted #aaa; text-align: center; font-size: 70%; letter-spacing: 1px; padding-top: .5em; }
