html, body { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

blockquote, q { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; quotes: "" ""; }
blockquote:before, q:before, blockquote:after, q:after { content: ""; }

th, td, caption { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; text-align: left; font-weight: normal; vertical-align: middle; }

table { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; border-collapse: separate; border-spacing: 0; vertical-align: middle; }

a img { border: none; }

body { line-height: 1.5; font-family: Helvetica Neue, Arial, Helvetica, sans-serif; color: #333333; font-size: 112.5%; }
body .showgrid { background: url('/images/grid.png?1250734433'); }
body .error { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
body .error a { color: #8a1f11; }
body .notice { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #fff6bf; color: #514721; border-color: #ffd324; }
body .notice a { color: #514721; }
body .success { padding: .8em; margin-bottom: 1em; border: 2px solid #dddddd; background: #e6efc2; color: #264409; border-color: #c6d880; }
body .success a { color: #264409; }
body .hide { display: none; }
body .highlight { background: yellow; }
body .added { background: #006600; color: white; }
body .removed { background: #990000; color: white; }

form label { font-weight: bold; }
form fieldset { padding: 1.4em; margin: 0 0 1.5em 0; }
form legend { font-weight: bold; font-size: 1.2em; }
form input.text, form input.title, form input[type=text] { margin: 0.5em 0; background-color: #fff; padding: 5px; }
form input.title { font-size: 1.5em; }
form input[type=checkbox], form input.checkbox, form input[type=radio], form input.radio { position: relative; top: 0.25em; }
form textarea { margin: 0.5em 0; padding: 5px; }
form select { margin: 0.5em 0; }
form input.text, form input.title { width: 480px; }
form textarea { width: 480px; height: 400px; }
form fieldset { border: 1px solid #cccccc; }
form input.text, form input.title, form textarea, form select { border: 1px solid #bbbbbb; }
form input.text:focus, form input.title:focus, form textarea:focus, form select:focus { border: 1px solid #666666; }

html { height: 101%; }

body { font-family: "Times New Roman",Times,serif; line-height: 1.4em; font-size: 112.5%; background: url(../images/bg.gif) repeat-y center top; }
body a { color: #666; position: relative; }
body a:hover { color: #003; }
body a:active { top: 1px; }

.container { width: 510px; margin: 0 auto; overflow: hidden; display: inline-block; }
.container { display: block; }

.header, .footer, .content, .errors { display: inline; float: left; margin-right: 10px; width: 510px; margin-right: 0; }
* html .header, * html .footer, * html .content, * html .errors { overflow-x: hidden; }

.header { font-family: Georgia,"Times New Roman",Times,serif; position: relative; }
.header h2 { color: #888; font-size: 65%; text-transform: uppercase; border-bottom: 1px dotted #888; margin-bottom: 1.5em; }
.header h2 ul.nav { margin: 0; padding: 0; border: 0; outline: 0; overflow: hidden; display: inline-block; float: right; }
.header h2 ul.nav { display: block; }
.header h2 ul.nav li { list-style-type: none; margin-left: 0px; white-space: nowrap; display: inline; float: left; padding-left: 4px; padding-right: 4px; }
.header h2 ul.nav li.first { padding-left: 0px; }
.header h2 ul.nav li.last { padding-right: 0px; }
.header h2 a.header_title { color: #888; }
.header h2 a.header_title:hover { color: #555; }
.header h1 { font-size: 120%; font-weight: bold; padding-left: 5px; border-bottom: 1px solid #333; line-height: 1.4em; }
.header h1 a { display: block; color: #333; text-decoration: none; }
.header h1 a:hover { color: #930; }
.header h1 a:hover .page_title_action { color: #930; }
.header h1 .page_title_action { color: #666; font-size: 60%; float: right; }
.header h1 .page_title_action a { color: #666; }
.header h1 .page_title_action a:hover { color: #930; }
.header .story_actions { position: absolute; font-size: 80%; right: 2px; }
.header .story_actions a { text-decoration: none; }
.header #js_enabled { display: none; }
.header ul.error_box { padding: 10px 10px 10px 30px; font-size: 90%; background-color: #fff; margin-bottom: 1em; border: 1px solid #ccc; color: #993300; }

.content { margin-top: 1.5em; margin-bottom: 1em; }
.content p { margin-bottom: .8em; }
.content a.action { font-size: 70%; text-decoration: none; color: #888; }
.content a.action:hover { color: #00c; }
.content .author { text-align: right; margin-right: 2em; }
.content #collections_container { display: inline; float: left; margin-right: 10px; width: 230px; padding-right: 40px; }
* html .content #collections_container { overflow-x: hidden; }
.content #collections_container h3 { font-weight: bold; }
.content #new_collection_container { display: inline; float: left; margin-right: 0; width: 230px; }
* html .content #new_collection_container { overflow-x: hidden; }
.content #new_collection_container h3 { font-weight: bold; height: 1.7em; }
.content #new_collection_container h3 input { width: 97%; font: 1em Georgia; }
.content .collection { list-style-type: none; list-style-position: inside; margin: .4em 0 .4em .4em; min-height: 1.5em; line-height: 1.5em; border: 1px solid gray; }
.content .collection .sort_placeholder { background-color: #CDE7CD; }
.content .collection li { color: #222; padding-left: .4em; height: 1.5em; overflow: hidden; white-space: nowrap; background-color: #F2F2E1; }
.content .collection li:hover { background-color: #D2AF99; }
.content .collection:hover { cursor: default; }
.content #collection_form { text-align: center; }
.content #collection_form_container { display: inline; float: left; margin-right: 10px; width: 510px; padding-top: 2em; }
* html .content #collection_form_container { overflow-x: hidden; }
.content .story_list { list-style: none; }
.content .story_list li { margin-left: 10px; }
.content .story_list h2 { margin-left: 7px; margin-top: .5em; }
.content .story_list h2 a.category_name { color: #930; font-size: 110%; }
.content .story_list h2 a.favorites_header { color: #222; font-size: 120%; margin-left: -7px; letter-spacing: 1px; }
.content .story_list h2 .view_all_link { font-size: 80%; float: right; }
.content .story_list h2 .view_all_link a { text-decoration: none; text-transfrom: uppercase; }
.content .story_form .title { font-family: Georgia; }
.content .story_form .form_note { float: right; font-size: 90%; padding-right: 30px; color: #666; }
.content .story_form textarea { margin-bottom: 1.5em; }

.footer { text-transform: uppercase; border-top: 1px dotted #aaa; text-align: center; font-size: 70%; letter-spacing: 1px; padding-top: .5em; }
